$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import '~bulma/bulma.sass';

// try to use rem when doing the actual design

html {
    background: #222;
}

body {
    font-size: 1.4em;
    color: #fff;
}

.container {
    padding: 50px;
}

.button {
    margin-right: 10px;
    margin-top: 1em;
}
